---
title: Comparar resultados de teste de carga no Visual Studio
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: 66893198028fcd23e3d42e1e595764e723ed82da
ms.sourcegitcommit: e13e61ddea6032a8282abe16131d9e136a927984
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 04/26/2018
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Resultados de testes de carga de relatórios para comparações de teste ou análise de tendência

Você pode gerar relatórios de teste de carga do Microsoft Excel baseados em dois ou mais resultados de teste. Dois tipos de relatórios de teste de carga estão disponíveis:

- Comparação de Execuções&mdash;Este relatório tem, na verdade, dois relatórios exibindo dados de comparação lado a lado usando tabelas e gráficos de barras.

- Tendência&mdash;É possível gerar a análise de tendência em dois ou mais relatórios. Os resultados são exibidos usando-se gráficos de linhas.

Qualquer relatório pode ser usado para compartilhar dados de desempenho com participantes e informar se o desempenho e a integridade gerais do sistema estão melhorando ou piorando.

As definições de relatório são armazenadas no banco de dados de teste de carga. Quando um relatório é salvo, a definição do relatório é salva no banco de dados e poderá ser reutilizada posteriormente.

Além disso, o arquivo da planilha do Excel pode ser compartilhada com participantes de modo que os participantes precisem se conectar ao banco de dados para ver o relatório.

> [!NOTE]
> Se você adicionar comentários a um teste de carga, eles aparecerão no relatório do Excel. Para obter mais informações, consulte [Como adicionar comentários durante análise de um teste de carga completo](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Tarefas

|Tarefas|Tópicos associados|
|-----------|-----------------------|
|**Criar um relatório de desempenho e estresse:** é possível criar relatórios com base nos testes de carga e de desempenho Web usando o Microsoft Excel.|- [Como criar relatórios de desempenho de teste de carga usando o Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Criar manualmente um relatório de desempenho e de estresse usando o Microsoft Word:** é possível criar relatórios com base em testes de carga e de desempenho Web copiando e colando manualmente o resumo, a tabela e os dados do gráfico em um documento do Microsoft Word.|- [Como criar manualmente um relatório de desempenho de teste de carga usando o Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Consulte também

- [Analisar resultados de teste de carga](../test/analyze-load-test-results-using-the-load-test-analyzer.md)