---
title: Comparar resultados de teste de carga no Visual Studio
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: c360061e48b983007958042fd50e1e8cdcf0ac9f
ms.sourcegitcommit: 5b767247b3d819a99deb0dbce729a0562b9654ba
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 07/20/2018
ms.locfileid: "39176324"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Relatar resultados de teste de carga para comparações de testes ou análise de tendências

Você pode gerar relatórios de teste de carga do Microsoft Excel baseados em dois ou mais resultados de teste. Dois tipos de relatórios de teste de carga estão disponíveis:

- Comparação de execução&mdash;Esse relatório tem, na verdade, dois relatórios que exibem dados de comparação lado a lado usando tabelas e gráficos de barras.

- Tendência&mdash;É possível gerar a análise de tendência em dois ou mais relatórios. Os resultados são exibidos usando-se gráficos de linhas.

Qualquer relatório pode ser usado para compartilhar dados de desempenho com participantes e informar se o desempenho e a integridade gerais do sistema estão melhorando ou piorando.

As definições de relatório são armazenadas no banco de dados de teste de carga. Quando um relatório é salvo, a definição do relatório é salva no banco de dados e pode ser reutilizada mais tarde.

Além disso, o arquivo da planilha do Excel pode ser compartilhada com participantes de modo que os participantes precisem se conectar ao banco de dados para ver o relatório.

> [!NOTE]
> Se você adicionar comentários a um teste de carga, eles aparecerão no relatório do Excel. Para obter mais informações, confira [Como adicionar comentários durante a análise de um teste de carga completo](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Tarefas

|Tarefas|Tópicos associados|
|-----------|-----------------------|
|**Criar um relatório de desempenho e estresse:** é possível criar relatórios com base nos testes de carga e de desempenho Web usando o Microsoft Excel.|- [Como criar relatórios de desempenho de teste de carga usando o Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Criar manualmente um relatório de desempenho e de estresse usando o Microsoft Word:** é possível criar relatórios com base em testes de carga e de desempenho Web copiando e colando manualmente o resumo, a tabela e os dados do gráfico em um documento do Microsoft Word.|- [Como criar manualmente um relatório de desempenho de teste de carga usando o Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Consulte também

- [Analisar resultados do teste de carga](../test/analyze-load-test-results-using-the-load-test-analyzer.md)